.movies-card-list {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e8e8e8;
  margin-top: 69px;
  padding-top: 80px;
}

.movies-card-list__movies {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  column-gap: 30px;
  row-gap: 48px;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 0;
}

.movies-card-list__btn-more {
  width: 320px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #f9f9f9;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  padding: 11px 60px 9px;
  border: none;
  cursor: pointer;
  margin: 64px auto 85px;
}

@media (min-width: 1300px) {
  .movies-card-list__movies {
    grid-template-columns: repeat(3, 360px);
    align-content: center;
    justify-content: center;
  }
  .movies-card-list__btn-more {
    margin: 57px auto 100px;
  }
}

@media (max-width: 1170px) {
  .movies-card-list__movies {
    row-gap: 42px;
    grid-template-columns: repeat(2, 1fr);
  }
  .movies-card-list__btn-more {
    margin: 57px auto 100px;
  }
}

@media (max-width: 658px) {
  .movies-card-list__movies {
    grid-template-columns: 1fr;
    row-gap: 39px;
  }
  .movies-card-list__btn-more {
    width: 240px;
    margin: 63px auto 101px;
  }
}
