.not-found {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.not-found__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}
.not-found__heading {
  font-size: 80px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
}
.not-found__text {
  font-size: 12px;
  font-weight: 400;
}
.not-found__back {
  font-size: 12px;
  font-weight: 400;
  background: none;
  border: none;
  margin-top: auto;
  margin-bottom: 70px;
  cursor: pointer;
}
