.header {
  display: flex;
  height: 74px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 18px 70px;
}

@media (max-width: 768px) {
  .header {
    padding: 18px 30px;
  }
}

@media (max-width: 320px) {
  .header {
    padding: 18px 14px;
  }
}
