.tech__list-el {
  width: 90px;
  height: 60px;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.56px;
  background: #e8e8e8;
  padding: 22px 0;
}

@media (max-width: 768px) {
  .tech__list-el {
    width: 84px;
    height: 57px;
    font-size: 12px;
    letter-spacing: -0.48px;
    padding: 21px 0;
  }
}
