.header__menu-link_with-icon {
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-right: 0;
  margin-left: 30px;
}

@media (max-width: 768px) {
  .header__menu-link_with-icon {
    display: flex;
    position: fixed;
    margin: 0;
    bottom: 92px;
  }
}

@media (max-width: 320px) {
  .header__menu-link_with-icon {
    margin-left: 0px;
    bottom: 48px;
  }
}
