.footer__links-container {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

@media (max-width: 768px) {
  .footer__links-container {
    gap: 20px;
  }
}

@media (max-width: 594px) {
  .footer__links-container {
    order: -1;
    flex-direction: column;
    gap: 12px;
  }
}
