.student__img-container {
	width: 270px;
	margin-left: auto;
}

@media (max-width: 768px) {
  .student__img-container {
		width: 255px;
		height: 307px;
  }
}

@media (max-width: 594px) {
  .student__img-container {
		width: 100%;
		height: 352px;
		order: -1;
		margin-left: 0;
		margin-bottom: 40px;
  }
}